.signup-container {
    max-width: 400px;
    margin: 25px auto;
    padding: 10px 16px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
  }
  
  .signup-container h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 90%;
    padding: 10px;
    border: 2px solid seagreen;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 95%;
    padding: 14px 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #e64a19;
  }
  
  a{
    text-decoration: none;
  }